In [ ]:
str_number = "123"
int number = int(str_number)

In [ ]:
str_number = "123"
int number = int(str_number)
float_number = float(str_number)

SyntaxError: invalid syntax (ipython-input-1-4029060233.py, line 2)

In [ ]:
first_name = "bhavani"
last_name = "siri"
age = 25
height = 5.8
is_student = True

In [ ]:
print(f"Name: {first_name} {last_name}")
print(f"Age: {age}")
print(f"Height: {height}feet")
print(f"student: {is_student}")

Name: bhavani siri
Age: 25
Height: 5.8feet
student: True

In [ ]:
age_str = str(age)
height_int = int(height)
print(f"Age as string: {age_str}")
print(f"Height as integer: {height_int}")

Age as string: 25
Height as integer: 5

In [ ]:
a= 10
b= 3
print(f"Addition: {a} + {b} = {a+b}")
print(f"substraction: {a} - {b} = {a-b}")
print(f"multiplication: {a} * {b} = {a*b}")
print(f"division: {a} / {b} = {a/b}")
print(f"floor division: {a} // {b} = {a//b}")
print(f"modules: {a} % {b} = {a%b}")
print(f"exponentation: {a} ** {b} = {a**b}")

Addition: 10 + 3 = 13
substraction: 10 - 3 = 7
multiplication: 10 * 3 = 30
division: 10 / 3 = 3.3333333333333335
floor division: 10 // 3 = 3
modules: 10 % 3 = 1
exponentation: 10 ** 3 = 1000

In [ ]:
 result = 2 + 3 * 4 ** 2 - 1
 print(f"2+3*4**2-1={result}")

2+3*4**2-1=49

In [ ]:
x = 5
y = 10
print(f"{x}=={y}:{x==y}")
print(f"{x}!={y}:{x!=y}")
print(f"{x}<{y}:{x<y}")
print(f"{x}>{y}:{x>y}")
print(f"{x}<={y}:{x<=y}")
print(f"{x}>={y}:{x>=y}")

5==10:False
5!=10:True
5<10:True
5>10:False
5<=10:True
5>=10:False

In [ ]:
name1= "bhavani"
name2="siri"
print(f"'{name1}' < '{name2}':{name1 < name2}")

'bhavani' < 'siri':True

In [ ]:
p=True
q=False
print(f"p and q:{p and q}")
print(f"p or q:{p or q}")
print(f" not q:{not q}")

p and q:False
p or q:True
 not q:True

In [ ]:
age=20
has_license = True
can_drive = age >= 18 and has_license
print(f"can drive:{can_drive}")

can drive:True

In [ ]:
score = 85
is_present = True
can_pass = score >= 80 and is_present
print(f"can pass: {can_pass}")

can pass: True

In [ ]:
age=25
annual_income = 50000
credit_score = 720
has_collateral = True

In [ ]:

 fruits=["apple","banana","orange","grape"]
number ={10,20,30,40,50}
mixed_data=[1,"hello",3.14,True]

In [ ]:
print(f"first fruit: {fruits[0]}")
print(f"last fruit: {fruits[-1]}")
print(f"second to last: {fruits[-2]}")

first fruit: apple
last fruit: grape
second to last: orange

In [ ]:
print(f"first 2 fruit: {fruits[0:2]}")
print(f"last 2 fruit: {fruits[-2:]}")
print(f"all except first: {fruits[1:]}")

first 2 fruit: ['apple', 'banana']
last 2 fruit: ['orange', 'grape']
all except first: ['banana', 'orange', 'grape']

In [ ]:
fruits.append("kiwi")
fruits.insert(1,"strawberry")
removed=fruits.pop()
print(f"update list:{fruits}")
print(f"removed{removed}")

update list:['apple', 'strawberry', 'banana', 'orange', 'grape', 'kiwi']
removedkiwi